
<form class="max-w-lg mx-auto my-10">
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="user_avatar">Upload file</label>
    <input class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" aria-describedby="user_avatar_help" id="user_avatar" type="file">
    <div class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="user_avatar_help">A profile picture is useful to confirm your are logged into your account</div>
  </form>



  <section class="bg-white dark:bg-gray-900 grid gap-2 sm:grid-cols-3">
    <div class="py-8 px-4 max-w-xl lg:py-16 col-span-1">
        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Habitaciones</h2>
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
            <div class="grid gap-3 sm:grid-cols-3 sm:gap-4 max-w-md">
              <div class="sm:col-span-3">
                <label for="category1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Estilo</label>
                <select formControlName="estilo" id="category1" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                  <option value="" disabled>Seleccionar estilo</option>
                  <option value="TV">TV/Monitors</option>
                  <option value="PC">PC</option>
                  <option value="GA">Gaming/Console</option>
                  <option value="PH">Phones</option>
                </select>
              </div>
          
              <div class="sm:col-span-3">
                <label for="category2" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Habitacion</label>
                <select formControlName="habitacion" id="category2" class="bg-gray-50 border w-full border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                  <option value="" disabled>Selecione habitacion</option>
                  <option *ngFor="let category of habitaciones" [value]="category.value">{{ category.label }}</option>
                </select>
              </div>
          
              <div class="w-40">
                <label for="ancho" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ancho (m)</label>
                <input type="number" formControlName="ancho" id="ancho" class="w-32 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="12" required>
              </div>
          
              <div class="w-32">
                <label for="largo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Largo (m)</label>
                <input type="number" formControlName="largo" id="largo" class="w-32 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="12" required>
              </div>
          
              <div class="w-32">
                <label for="alto" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Alto (m)</label>
                <input type="number" formControlName="alto" id="alto" class="w-32 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="12" required>
              </div>
            </div>


            <div class="sm:col-span-3 my-2">
                <label for="obra" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">TIPO DE OBRA </label>
                <select formControlName="obra" id="category1" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                  <option value="" disabled>Seleccionar tipo de obra</option>
                  <option value="OBRA GRIS">OBRA GRIS</option>
                  <option value="OBRA BLANCA">OBRA BLANCA</option>
                 
                </select>
              </div>
            <button type="submit" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-600 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
              Add product
            </button>
            <button type="button" (click)="generate()" class="mx-1 inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-600 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
              Hacer petición
            </button>
          </form>
          
    </div>
    <div class="col-span-2 py-8 px-4 text-white">
        <!-- <div class="bg-gray-800 rounded-lg p-4 max-w-xl  overflow-auto">
            <div class="text-sm overflow-auto">{{result}}</div>


        </div> -->

        <div class="generated-text-card">
            <p>{{result}}</p>
          
          </div>
    </div>
    
</section>


 <footer class="mx-auto max-w-lg mb-10">


 </footer>

  